<script id="product">

	{{#options}}
	{{#info}}
	<li>
		<div class="item" title="{{ProducerOrganizationName}} &ndash; {{ProductMajorVersionName}}">
			<a href="{{OfferingListUrl}}&{{UtmTrack}}&utm_source={{UtmStoreName}}" class="item-link">
				<span class="item-hover">
					<span class="fill"></span>
					<span class="message">Get it now!</span>
				</span>
				<span class="title">{{ProductMajorVersionName}}</span>
				<img src="{{SmallImageUrl}}" alt="{{ProductMajorVersionName}}" />
				<span class="price">
					<span class="fill"></span>
					<span>{{LowestPriceOfferingPriceFormatted}}</span>
				</span>
			</a>
		</div>
	</li>
	{{/info}}
	{{/options}}

</script>

<script id="more">

	{{#options}}
	<li class="more-li">
		<div class="item" title="{{WebStoreName}}">
			<a href="{{WebStoreUrl}}&{{UtmTrack}}&utm_source={{UtmStoreName}}" class="item-link">
				<span class="item-hover">
					<span class="fill"></span>
					<span class="message">Visit your WebStore!</span>
				</span>
			</a>
		</div>
	</li>
	{{/options}}

</script>


<script id="adobecc">

	{{#options}}
	<li>
		<div class="item" title="Adobe Systems Incorporated &ndash; Adobe Creative Cloud">
			<a href="http://www.tkqlhce.com/click-5601272-11281774" class="item-link">
				<span class="item-hover" style="display: none;">
					<span class="fill"></span>
					<span class="message">Get it now!</span>
				</span>
				<span class="title">Adobe Creative Cloud</span>
				<img src="{{options}}" alt="Adobe Creative Cloud">
				<span class="price">
					<span class="fill"></span>
					<span>$29.99 USD</span>
				</span>
			</a>
		</div>
	</li>
	{{/options}}

</script>