<!-- file: create-typeahead.mustache -->

<!-- block starts -->

<form autocomplete="off" id="autoform">
	        	<label for="searchinput">Organization Name:</label>
		        <input type="text" id="searchinput" placeholder="Search..." data-provide="typeahead" class="input-xxlarge schoolSearch">
</form>
<!-- / ends -->