<!-- file: typeahead-footer.mustache -->


<script id="typahead-footer">

<div class="typeahead-footer">
	Showing <span class="typeahead-count-showing">n</span> of <span class="typeahead-footer-count">{{orgCount}}</span> organizations in your area
</div>

</script>