/*
                  
 Project: 		SchoolFinder                         
 Version: 		1.0
 Date Stamp: 	4:00pm 09 04 2013
 Authors: 		Jesse Burcsik, Nathan Chan
 
*/ 

/**************************************
*   Variables
**************************************/

$color-blue: 'blue';

// BLue BG for form buttons
$btn-col: #05bad6;


/**************************************
*   LAYOUT
**************************************/


/* ************************************* */

#oth-schoolfinder-wrapper{
	*{
		color: $color-blue;
	}

	p{
		color: $color-blue;
	}

	/* General wrapper styles */
	.kc-wrap-full{
		max-width:810px;
		background: #E7E7E7;
		padding-top:20px;
		margin:0 auto;
	}

	#autocomplete-row{
		margin-bottom:  20px;
	}

	/* Dropdown styling */
	#countryWrap{
		z-index:999;
		display:none;
	}
	.region-wrap{
		z-index:998;
		display:none;
	}
	.autocomplete-wrap{
		z-index:997;
		display:none;
	}
	.suborg-wrap{
		z-index:996;
	}
	.kc-wrap-full form.custom .custom.dropdown{

		div.btn{
			background:$btn-col;
	    	height: 2.3125em;
	    	width: 2.5125em;
	    	position:absolute;
	    	right:-1px;
	    	top:-1px;
		}

		.selector:after{
			border-color:#EEEEEE transparent transparent;
		}

		&.disabled{
			background:#DDDDDD;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;

			ul{
				border:none;
				box-shadow:none;
			}
			&:hover, &.open{

				div.btn{
					background:$btn-col;
				}

				.selector:after{
					border-color:#EEEEEE transparent transparent;
				}
			}
		}

		&.set{
			div.btn{
				background:$btn-col url("../img/check.png") no-repeat center center;
			}

			.selector:after{
				border-color:transparent;
			}
		}

		&:hover, &.open{

			div.btn{
				background:lighten($btn-col, 3%);
			}

			.selector:after{
				border-color:#EEEEEE transparent transparent;
			}
		}
	}

	/* Typeahead module suggestion styling */

	.autocomplete-wrap{

		.search-btn{
			display: 	block;
			width: 		35px;
			height: 	32px;
			background: $btn-col url("../img/search-btn.png") no-repeat center center;
			
			top:1.0625em;
			right:0.9375em;
			
			position: 	absolute;
			z-index: 	3;
			cursor: 	pointer;

			&.set{
				background: $btn-col url("../img/check.png") no-repeat center center;
				&:hover{
					background:  lighten($btn-col, 3%) url("../img/search-btn.png") no-repeat center center;
				}
			}		
			&:hover{
				background:  lighten($btn-col, 3%) url("../img/search-btn.png") no-repeat center center;
			}
		}

		.loading {
		
			display: 	none;
			width: 		35px;
			height: 	32px;
			
			top:1.0625em;
			right:0.9375em;
			
			position: 	absolute;
			z-index: 	4;
		
			background: #05bad6 url("../img/loader.gif") no-repeat center center;

			/*
			background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.5, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
			background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
			background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
			background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
			background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
			-webkit-background-size: 40px 40px;
			-moz-background-size: 40px 40px;
			-o-background-size: 40px 40px;
			background-size: 40px 40px;
			
			
			-webkit-animation: loading-stripes 1s linear infinite;
			-moz-animation: loading-stripes 1s linear infinite;
			-ms-animation: loading-stripes 1s linear infinite;
			-o-animation: loading-stripes 1s linear infinite;
			animation: loading-stripes 1s linear infinite;
			*/
		}


		.twitter-typeahead{
			width:100%;
		
			input#autocomplete{
				background: -webkit-gradient(linear, 0 100%, 0 0, from(white), to(#f3f3f3));
				background: -webkit-linear-gradient(white 0%, #f3f3f3 100%);
				background: -moz-linear-gradient(white 0%, #f3f3f3 100%);
				background: -o-linear-gradient(white 0%, #f3f3f3 100%);
				background: linear-gradient(white 0%, #f3f3f3 100%);
				background-color: #FFFFFF !important;
			}	
		}
	}


	.autocomplete-wrap input[type="text"]{
		margin-bottom:0;
	}

	.tt-dropdown-menu{
		width:100%;
		border:1px solid #CCCCCC;
		background: 	#ffffff;
	}

	.tt-suggestion{
		background: #FFFFFF;
		color:#555555;
		font-size:0.875em;

		p{
			margin-bottom:0;
			padding:0.25em 2.375em 0.25em 0.375em;
		}

		&.tt-is-under-cursor{
			background: #E4E4E4;
			color:#000000;
		}
	}

	/* Messaging styling */
	.msg-wrap{
		background:#FFFFFF;
		border:1px solid #CCCCCC;
		margin: 10px 0 0;
		padding:5px 0;

		p{
			margin:0;
			padding:10px 15px;
		}

		hr{
			margin:12px;
		}

		.search-title{
			font-weight:bold;
		}

		.search-item{
			padding:0 15px;
		}
	}

	/* Suborg styling */
	#suborg-row{
		display:none;
	}

	/* Styles for experimental product lister */
	.pmv-wrap{
		margin-top:15px;
	}

	#pmv-list{
		padding:1em 0 0;

		> li{
			list-style: none;
			padding:0 5px 10px;
		}
		
		.more-li a{
			background: $btn-col url('../img/oth-schoolfinder-more-products.png') no-repeat 50% 50%;
			min-width:170px;
		}

		.adobecc-li a{
			background: transparent url('../img/adobe-cc-school-finder-white.jpg') no-repeat 50% 50%;
			min-width:170px;
		}


	}

	.item{
		border:1px solid #CCCCCC;

		vertical-align: middle;
		cursor: pointer;
		background:#FFFFFF;
		position:relative;
		text-align: center;
		overflow:hidden;

		min-height:100%;

		&:hover{
			border:1px solid #999999;
		}
		&:active{
			border:1px solid #555555;
		}

		a{
			display:block;

			padding:5px;

			height:100%;
			width:100%;
			outline:none;
		}

		.title{
			display:block;
			text-align: left;
			text-decoration: none;
			color:#333333;
			font-weight:bold;
			font-size:12px;
			line-height:16px;

			padding:0 5px 2px;
		}

		.more{
			margin-top:-20px;
			top:50%;
			left:0;
			right:0;

			display:block;
			position:absolute;
			
			color:#222222;
			text-align: center;
			vertical-align: middle;
			font-size: 20px;
			filter:inherit;
		}

		span{
			z-index:0;
		}

		.price{
			color:#333333;
			font-size: 12px;
			
			width:auto;
			min-width:80px;
			
			position: absolute;
			display:block;
			
			padding:6px;
			bottom:5px;
			right:5px;

			.fill{
				position: absolute;
				background:#FFFFFF;
				border:1px solid #DEDEDE;
				opacity:0.85;
				filter:alpha(opacity=85);
				
				width:100%;
				height:100%;

				display:block;
				bottom:0;
				left:0;
				z-index:1;
			}

			span{
				position:relative;
				z-index:2;
			}
		}

		.item-hover{
			top:0;
			left:0;
			right:0;
			bottom:0;

			display:none;
			position:absolute;

			color:#FFFFFF;
			filter:inherit;
			z-index:1;

			.fill{
				top:0;
				left:0;
				right:0;
				bottom:0;

				display:block;
				position:absolute;
				background-color: #000000;

				opacity:0.7;
				filter:inherit;
			}

			.message{
				margin-top:-8px;
				top:50%;
				left:0;
				right:0;

				display:block;
				position:absolute;

				line-height: 16px;
				text-align: center;
				vertical-align: middle;
				font-size: 16px;
				font-weight:bold;
				filter:inherit;
			}
		}
	}
	/* Placeholder loader classes */
	.pmv-cover{
		position:absolute;
		top:7px;
		right:0;
		bottom:0;
		left:0;
		
		background:#999999;
		opacity: 0.85;
		filter:alpha(opacity=85);
		z-index:4;
	}

	.pmv-message{
		color:#FFFFFF;
		font-weight:bold;
		text-align:center;
		font-size:32px;
		z-index:5;

		position:absolute;

		margin-top:-34px;
		top:50%;
		right:10%;
		bottom:0;
		left:10%;

		line-height: 100%;
	}

	/* Miscellaneous styling */
	.terms{
		text-align:right;
		margin:5px 0 0;

		a{
			font-size:11px;
			color:#888;

			&:hover{
				color:#AAA;
			}
		}
	}
	
	.typeahead-footer{
		padding: 10px 5px 5px 5px;
		text-align: center;
		color: #919191;
		font-size: 80%;
		font-weight: normal;
	}
	
}


/**************************************
*   Animations
**************************************/


